Repository Andrew-Chen-Wang/template-nextjs: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, biome

eslint:
  run: npx eslint --config .config/eslint.config.mjs --fix {staged_files}
  stage_fixed: true

biome:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

Upgrade npm to latest in CI
  .github/workflows/ci.yml
Due: none

Add lightningcss to dev
  apps/website/package.json
  package-lock.json
Due: biome

Add optional dependencies
  .github/workflows/ci.yml
  apps/website/package.json
  package-lock.json
Due: biome

Add optional dependencies
  package-lock.json
Due: biome

rollup?
  .github/workflows/ci.yml
Due: none

rollup? and install?
  .github/workflows/ci.yml
Due: none

rollup? optional dep?
  package-lock.json
  package.json
Due: biome

test only ci not install?
  .github/workflows/ci.yml
Due: none

Fix CI lightningcss and rollup with optional dependencies (#2)
  apps/website/package.json
  package-lock.json
  package.json
Due: biome

Update Nullable for latest OpenAPI (fixes #3)
  apps/internal-api/src/utils/common.serializer.ts
Due: eslint, biome

Allow full path reference in another package (fixes #1)
  README.md
  apps/dbmigrator/tsconfig.json
  apps/internal-api/src/middleware.ts
  apps/internal-api/src/v1/user.ts
  apps/internal-api/tsconfig.json
  apps/website/src/app/login/google/callback/route.ts
  apps/website/src/lib/auth.ts
  apps/website/tsconfig.json
  lib/typescript/dao/tsconfig.json
  lib/typescript/utils/numbers/tsconfig.json
  packages/db/tsconfig.json
Due: eslint, biome

Lint
  apps/website/src/app/login/google/callback/route.ts
Due: eslint, biome

fix: API errors should not throw HTTPException; rather, it should return c.text()
  README.md
  apps/internal-api/src/middleware.ts
  apps/internal-api/src/utils/http-exception.ts
  apps/internal-api/src/v1/user.ts
Due: eslint, biome

feat: Upgrade hono-openapi to v1 and test OpenAPI generation with hey-api
  .config/mise.toml
  .github/workflows/ci.yml
  apps/internal-api/package.json
  apps/internal-api/src/generate-openapi.test.ts
  apps/internal-api/src/index.ts
  apps/internal-api/src/middleware.ts
  apps/internal-api/src/utils/common.serializer.test.ts
  apps/internal-api/src/utils/common.serializer.ts
  apps/internal-api/src/utils/errors/error.serializer.ts
  apps/internal-api/src/utils/errors/error.test.ts
  apps/internal-api/src/utils/http-exception.ts
  apps/internal-api/src/v1/user.ts
  package-lock.json
  package.json
Due: eslint, biome

fix: HTTP exceptions were throwing strings from c.json
  apps/internal-api/src/utils/http-exception.ts
Due: eslint, biome

chore: Upgrade typebox to 1.0 and migrate to hono-typebox-openapi by Andrew-Chen-Wang
  apps/internal-api/package.json
  apps/internal-api/src/index.ts
  apps/internal-api/src/utils/common.serializer.test.ts
  apps/internal-api/src/utils/common.serializer.ts
  apps/internal-api/src/utils/errors/error.serializer.ts
  apps/internal-api/src/v1/user.ts
  package-lock.json
Due: eslint, biome

fix: Fix pagination should assume id uses UUID
  apps/internal-api/src/utils/pagination.ts
Due: eslint, biome

chore: Upgrade packages
  apps/website/package.json
  package-lock.json
Due: biome

chore: Upgrade lint packages (biome, eslint)
  apps/dbmigrator/src/kysely.config.ts
  apps/internal-api/src/index.ts
  apps/internal-api/src/utils/common.serializer.ts
  apps/internal-api/src/utils/http-exception.ts
  apps/internal-api/src/utils/pagination.ts
  apps/website/src/app/login/google/callback/route.ts
  apps/website/src/app/login/page.tsx
  apps/website/src/app/login/sign-in-form.tsx
  apps/website/src/app/middleware.ts
  apps/website/src/components/ui/button.tsx
  apps/website/src/components/ui/checkbox.tsx
  apps/website/src/components/ui/label.tsx
  biome.jsonc
  package-lock.json
  package.json
Due: eslint, biome

fix: hono-typebox-openapi wasn't exporting properly, so upgraded versions
  apps/internal-api/package.json
  apps/internal-api/src/index.ts
  apps/internal-api/src/v1/user.ts
  apps/website/next.config.ts
  package-lock.json
  packages/db/.config/.kysely-codegenrc.ts
Due: eslint, biome

feat: Add React Query and hey-api
  .config/eslint.config.mjs
  .config/openapi-ts.config.ts
  .idea/runConfigurations/website___openapi.xml
  apps/internal-api/src/index.ts
  apps/internal-api/src/middleware.ts
  apps/internal-api/src/v1/user.ts
  apps/internal-api/tsconfig.json
  apps/website/package.json
  apps/website/src/app/dashboard/action.ts
  apps/website/src/app/dashboard/dashboard.tsx
  apps/website/src/app/dashboard/page.tsx
  apps/website/src/app/layout.tsx
  apps/website/src/app/login/google/route.ts
  apps/website/src/app/login/sign-in-form.tsx
  apps/website/src/app/page.tsx
  apps/website/src/components/ClientProviders.tsx
  apps/website/src/lib/client.ts
  apps/website/src/services/api.ts
  apps/website/src/services/client/@tanstack/react-query.gen.ts
  apps/website/src/services/client/client.gen.ts
  apps/website/src/services/client/client/client.gen.ts
  apps/website/src/services/client/client/index.ts
  apps/website/src/services/client/client/types.gen.ts
  apps/website/src/services/client/client/utils.gen.ts
  apps/website/src/services/client/core/auth.gen.ts
  apps/website/src/services/client/core/bodySerializer.gen.ts
  apps/website/src/services/client/core/params.gen.ts
  apps/website/src/services/client/core/pathSerializer.gen.ts
  apps/website/src/services/client/core/serverSentEvents.gen.ts
  apps/website/src/services/client/core/types.gen.ts
  apps/website/src/services/client/core/utils.gen.ts
  apps/website/src/services/client/sdk.gen.ts
  apps/website/src/services/client/types.gen.ts
  apps/website/tsconfig.json
  biome.jsonc
  lib/typescript/dao/src/index.ts
  lib/typescript/dao/tsconfig.json
  package-lock.json
Due: eslint, biome

fix: Remove .tsx extensions since tsconfig changed to disallow it
  apps/website/src/app/dashboard/page.tsx
  apps/website/src/app/login/page.tsx
  apps/website/src/app/login/sign-in-form.tsx
  apps/website/src/app/page.tsx
Due: eslint, biome

fix: Must use useState passing queryClient
  apps/website/src/components/ClientProviders.tsx
Due: eslint, biome

fix: Biome lint not ignoring files properly
  .config/openapi-ts.config.ts
  biome.jsonc
Due: eslint, biome

fix: Updating vulnerable dependencies (nextJS, hey-api subdep)
  apps/internal-api/package.json
  apps/website/package.json
  package-lock.json
Due: biome

feat: Add PartialBy type for DAO to exclude genertable values in insertions
  apps/website/src/app/login/google/callback/route.ts
  lib/typescript/dao/src/account/crud.ts
  lib/typescript/dao/src/user/crud.ts
  lib/typescript/dao/src/utils/types.ts
Due: eslint, biome

chore: Update hono-typebox-openapi to new version
  apps/internal-api/package.json
  package-lock.json
Due: biome

feat: Add CLAUDE.md file with hey-api specific instructions
  .cursor/rules/hono-schema-creator.mdc
  CLAUDE.md
Due: none

fix: Remove unnecessary @ts-expect-error
  apps/internal-api/src/index.ts
Due: eslint, biome

feat: Add AI MCP and skills
  .agents/skills
  .claude/settings.local.json
  .claude/skills/dao-creator/SKILL.md
  .claude/skills/frontend-calling-backend/SKILL.md
  .claude/skills/frontend-components/SKILL.md
  .claude/skills/hono-backend-api/SKILL.md
  .codex/config.toml
  .mcp.json
  AGENTS.md
  CLAUDE.md
  apps/website/.template.env
  docker-compose.yaml
Due: biome

refactor: Remove cursor rules
  .cursor/rules/hono-api-creator.mdc
  .cursor/rules/hono-error-code.mdc
  .cursor/rules/hono-schema-creator.mdc
Due: none

feat: Migrate to pnpm
  .config/mise.toml
  .github/workflows/ci.yml
  README.md
  apps/dbmigrator/package.json
  apps/internal-api/package.json
  apps/website/package.json
  lib/typescript/dao/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome

feat: Specify packageManager in package.json
  package.json
Due: biome

refactor: Upgrade packages
  apps/dbmigrator/package.json
  apps/internal-api/package.json
  apps/website/package.json
  lib/typescript/dao/package.json
  package.json
  packages/db/package.json
  pnpm-lock.yaml
Due: biome

feat: Configure Vercel configuration file
  apps/website/package.json
  apps/website/vercel.mts
  pnpm-lock.yaml
Due: biome

feat: Fixed lint and formatting
  apps/internal-api/src/index.ts
  apps/website/vercel.mts
Due: eslint, biome

misc: Edit run JetBrains configurations
  .idea/runConfigurations/eslint.xml
  .idea/runConfigurations/format.xml
  .idea/runConfigurations/website___dev.xml
Due: none

fix: Generate OpenAPI test case
  .config/openapi-ts.config.ts
  apps/internal-api/src/generate-openapi.test.ts
  apps/website/src/services/client/client/client.gen.ts
  apps/website/src/services/client/client/types.gen.ts
  apps/website/src/services/client/client/utils.gen.ts
  apps/website/src/services/client/core/bodySerializer.gen.ts
  apps/website/src/services/client/core/params.gen.ts
  apps/website/src/services/client/core/types.gen.ts
  apps/website/src/services/client/core/utils.gen.ts
  apps/website/src/services/client/sdk.gen.ts
  packages/db/src/index.ts
Due: eslint, biome

feat: Migrate API backend to separate domain
  .config/openapi-ts.config.ts
  .idea/runConfigurations/internal_api___dev.xml
  README.md
  apps/internal-api/HACKING.md
  apps/internal-api/package.json
  apps/internal-api/src/index.ts
  apps/internal-api/vercel.mts
  apps/website/.template.env
  apps/website/package.json
  apps/website/src/app/api/[[...route]]/route.ts
  apps/website/src/app/proxy.ts
  apps/website/src/services/api.ts
  apps/website/tsconfig.json
  pnpm-lock.yaml
Due: eslint, biome

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
