Repository Andrew-Chen-Wang/template-nextjs: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, biome

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: false
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --config .config/eslint.config.mjs --fix {staged_files}
      stage_fixed: true
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

fix: Don't need leading dot for cookie domain attribute
  apps/website/src/app/proxy.ts
Due: eslint, biome

fix: Postgres 18 docker compose volume should remove /data
  docker-compose.yaml
Due: none

chore: Upgrade packages
  .codex/config.toml
  .config/oxlint.config.mts
  .config/vitest.config.mts
  AGENTS.md
  apps/dbmigrator/package.json
  apps/internal-api/package.json
  apps/internal-api/src/generate-openapi.test.ts
  apps/internal-api/src/index.ts
  apps/internal-api/src/middleware.ts
  apps/internal-api/src/utils/common.serializer.ts
  apps/internal-api/src/utils/errors/error.test.ts
  apps/internal-api/src/utils/pagination.ts
  apps/internal-api/tsconfig.json
  apps/website/package.json
  apps/website/src/app/dashboard/dashboard.tsx
  apps/website/src/app/login/sign-in-form.tsx
  apps/website/src/components/icons.tsx
  lefthook.yml
  lib/typescript/dao/package.json
  lib/typescript/dao/tsconfig.json
  lib/typescript/utils/numbers/src/index.ts
  lib/typescript/utils/numbers/src/validate.test.ts
  lib/typescript/utils/numbers/tsconfig.json
  package.json
  packages/db/package.json
  packages/db/src/index.ts
  packages/db/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, biome

refactor: Move .env to root of repository
  .template.env
  packages/db/.config/.kysely-codegenrc.ts
  packages/db/src/index.ts
Due: eslint, biome

docs: Remove comment about "The components need to be refactored into lib"
  README.md
Due: none

fix: Generate OpenAPI test pipe directly to file
  apps/internal-api/src/generate-openapi.test.ts
Due: eslint, biome

fix: dao package exports didn't export files for absolute paths
  lib/typescript/dao/package.json
Due: biome

chore: Disable consistent-return lint rule
  .config/oxlint.config.mts
  apps/dbmigrator/tsconfig.json
  apps/internal-api/tsconfig.json
  apps/website/tsconfig.json
  lib/typescript/dao/tsconfig.json
  lib/typescript/utils/numbers/tsconfig.json
  packages/db/tsconfig.json
Due: biome

feat: Add Postgres to CI build job
  .github/workflows/ci.yml
Due: none

perf: Install react compiler
  apps/website/next.config.ts
  apps/website/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, biome

fix: Skip oxlint pre-commit hook when all staged files are ignored
  lefthook.yml
Due: none

fix: Nullable T must be cloned
  apps/internal-api/src/utils/common.serializer.ts
Due: eslint, biome

feat: mount internal API in Next.js
  .config/openapi-ts.config.ts
  apps/internal-api/package.json
  apps/internal-api/src/index.ts
  apps/internal-api/src/server.ts
  apps/website/package.json
  apps/website/src/app/api/[[...route]]/route.ts
  apps/website/src/services/api.ts
  pnpm-lock.yaml
Due: eslint, biome

feat: mount internal API in Next.js (#10)
  .config/openapi-ts.config.ts
  apps/internal-api/package.json
  apps/internal-api/src/index.ts
  apps/internal-api/src/server.ts
  apps/website/package.json
  apps/website/src/app/api/[[...route]]/route.ts
  apps/website/src/services/api.ts
  pnpm-lock.yaml
Due: eslint, biome
